<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Mapeia qualquer requisição para o Python via FastCGI -->
    

    <directoryBrowse enabled="false" />

  </system.webServer>

  <appSettings>
    <!-- Define qual módulo WSGI o wfastcgi vai carregar. -->
    <add key="WSGI_HANDLER" value="run.app" />

    <!-- Ajuste este caminho para a pasta raiz do seu projeto.
         É o local onde está seu run.py e suas pastas do Flask. -->
    <add key="PYTHONPATH" value="C:\Dev\Particular\SisGestaoTreinamentos\web.config" />
  </appSettings>
</configuration>
